/****
Calendar About Nothing Badge
http://lachstock.com.au/
20090418

****/
.seinfeld-can {margin: 0 0 2em 0;}
    .seinfeld-can #calendar {border-bottom: 1px solid #000; border-top: 2px solid #000; margin: 1em 0 0.5em 0; padding: 0 5px 5px 5px;}
        .seinfeld-can table {width: 100%;}
            .seinfeld-can th.monthName{color: #b20000; font-weight: 700; letter-spacing: 5px; padding: 5px 0; text-align: center; text-transform: uppercase;}
            .seinfeld-can tr.dayName th {font-weight: 700; letter-spacing: 2px; padding: 5px 0;  text-align: center; text-transform: uppercase;}
            .seinfeld-can td {position: relative; text-align: center;}
            .seinfeld-can td.otherMonth {color: #ccc;}
            .seinfeld-can td.today {color: green;}
                .seinfeld-can .xmarksthespot{margin: -1.3% 0 0 0; position: absolute; z-index: 100;}
                .seinfeld-can .otherMonth .xmarksthespot{opacity: 0.2;}

    .seinfeld-can p.streaks {margin: 0.3em 0.4em 0 0.4em;}
        .seinfeld-can p.streaks strong {font-weight: 700;}
        .seinfeld-can p.streaks strong em,
        .seinfeld-can p.streaks strong a {font-style: normal; font-weight: 300;}
    .seinfeld-can .longest {float: right; margin: -1.3em 0 0 0; width: auto;}